<div class="container" style="height:100vh;">

  <!--div class="medio">
    "Hay quienes apuntan la discusion en ver si el vaso esta medio vacio o si esta medio lleno, olvidando que se le puede agregar mas agua"
  </div-->
</div>
<div class="fondoboard" id="agil">
  <div class="container" >
    <div class="row">
            <div class="col-sm-6 caja">
      </div>
      <div class="col-sm-6 caja" >
        <h1>Que es la Metodologia Agil?</h1>
        <br>
        <p>La metodologia agil nacio en el area informatica donde era necesario el control de multiples tareas a corto plazo y que necesitaban la organizacion de equipos multidiciplinarios.</p>
        <p>Esta forma de trabajo, puede ser en realidad implementada en cualquier tipo de actividad que requiera tareas, lo que permite un alto nivel de eficiencia y aceleracion de los logros establecidos</p>
      </div>
    </div>
  </div>
</div>
<div class="" style="height:100vh; background: #333; color: white;">
  <div class="container" id="como-funciona">
    <div class="row ">
      <div class="col-sm-6 caja">
        <h1>Que hace Agil Software</h1>
        <br>
        <p>Agil Software es una herramienta que organiza sus proyectos y tareas, de acuerdo a la metodologia scrum.
        </p>
        <p>Controla las tareas comprometidas con un modelo de notificaciones y alarmas que permiten mantener al tanto el estado de estas</p>
        <p>Reporta los niveles de avances, efectividad y eficiencia por proyecto, tareas o individuos con el uso de tablas y graficos</p>
        <p>Comunica a los participantes, mediante web o aplicacion</p>
        <p>Permite compartir archivos (*) e informacion relevante para el desarrollo del proyecto</p>
        

      </div>
      <div class="col-sm-6 caja">

      </div>
    </div>
  </div>
</div>
<div class="" style="height:100vh; background: #fbfbfb; color: #333;">
  <div class="fondocafe" id="registro">
    <div class="row ">
      <div class="col-sm-12 caja">
<app-register></app-register>

      </div>

    </div>
  </div>
</div>