<div class="footer">
  <div class="container">
    <div class="row" >
      <div class="col-sm-4">
        AGIL SOFTWARE
      </div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-xs-12">Download</div>
        </div>
                <div class="row">
          <div class="col-xs-12">Planes</div>
        </div>        
        <div class="row">
          <div class="col-xs-12">Nosotros</div>
        </div>
        <div class="row">
          <div class="col-xs-12">Politicas Privacidad</div>
        </div>        

      </div>
    </div>
  </div>
</div>